body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  color: #FFF;
  background-color: #0D0208;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #DDD;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-link {
  margin-right: 24px;
  color: #DDD;
  transition: 400ms;
}

.nav-link:hover {
  color: #05d9e8;
}

#about {
  height: calc(100vh - 120px);
  /* or use height: 100vh; box-sizing: border-box; to add border to height */ 
  border: 10px solid #FFF;
  padding: 100px 5vw 0 15vw;
}

#about h1 {
  font-size: 4rem;
  margin-top: 0;
  animation-name: fadein;
  animation-duration: 2000ms;
  animation-iteration-count: once;
}

#about p {
  animation-name: fadein;
  animation-duration: 2000ms;
  animation-iteration-count: once;
}

@keyframes fadein {
  0% {
    color: #0D0208;
  }

  100% {
    color: #FFF;
  }
}

.header-content .nav-link {
  font-size: 2rem;
  animation-name: header-nav-link-fadein;
  animation-duration: 2500ms;
  animation-iteration-count: once;
}

@keyframes header-nav-link-fadein {
  0% {
    color: #0D0208;
    pointer-events: none;
  }
 
  60% {
    color: #0D0208;
  }

  100% {
    color: #DDD;
    pointer-events: none;
  }
}

#project-section {
  text-align: center;
  padding: 100px 10vw;
  border: 10px solid #FFF;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project-title {
  transition: 400ms;
}

#project-grid a:hover h2 {
  color: #F8F005;
}

.project-image {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

#contact {
  height: calc(100vh - 220px);
  padding: 100px 10vw;
  border: 10px solid #FFF;
}

#contact h1 {
  text-align: center;
}

#contact #form {
  display: flex;
  justify-content: center;
}

#contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  margin: 80px 10px;
}

form div {
  margin-bottom: 10px;
}

form .upper-form {
  width: calc(100% / 2 - 8px);
}

form .lower-form {
  width: 100%;
}

form .input {
  font-size: 16px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #888;
  background-color: #3b3b3b;
  box-sizing: border-box;
}

form .input:focus::placeholder, 
form textarea:focus::placeholder {
  color: transparent;
}

form textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  padding: 10px;
  border: none;
  outline: none;
  color: #888;
  background-color: #3b3b3b;
  box-sizing: border-box;
  resize: vertical;
}

form .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

form .submit input {
  position: relative;
  font-weight: bold;
  height: 40px;
  width: 90px;
  border: 1px solid #05d9e8;
  color: #05d9e8;
  background-color: #0D0208;
  cursor: pointer;
  background-image: linear-gradient(0, #05d9e8, #05d9e8);
  background-size: 0;
  transition: 400ms;
  background-repeat: no-repeat;
}

form .submit input:hover {
  background-size: 100%;
  color: #000;
}

form .submit input:focus {
  transform: translateY(3px);
  transition: 100ms;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 60px 30vw;
}

footer a {
  margin-bottom: 3px;
}

footer a:hover {
  color: #FFF;
  transition: 0.2s;
}

@media only screen and (max-height: 653px) and (max-width: 312px) {
  #about, 
  #contact {
    height: 100%;
  }
}

@media only screen and (max-width: 760px) {
  #about {
    padding: 100px 10vw 0 15vw;
  }
}

@media only screen and (max-width: 420px) {
  #project-grid {
    display: flex;
    flex-direction: column;
  }

  .project-image {
    height: 220px;
    width: 220px;
  }
}