body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html {
  color: #FFF;
  background-color: #0D0208;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #DDD;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-link {
  margin-right: 24px;
  color: #DDD;
}

.nav-link:hover {
  color: #05d9e8;
  transition: 300ms;
}

#about {
  height: calc(100vh - 20px);
  /* or use height: 100vh; box-sizing: border-box; to add border to height */ 
  border: 10px solid #FFF;
}

.header-content {
  padding: 100px 5vw 0 15vw;
}

#about h1 {
  font-size: 4rem;
  margin-top: 0;
  animation-name: fadein;
  animation-duration: 2000ms;
  animation-iteration-count: once;
}

#about p {
  animation-name: fadein;
  animation-duration: 2000ms;
  animation-iteration-count: once;
}

@keyframes fadein {
  0% {
    color: #0D0208;
  }

  100% {
    color: #FFF;
  }
}

.header-content .nav-link {
  font-size: 2rem;
  animation-name: header-nav-link-fadein;
  animation-duration: 2500ms;
  animation-iteration-count: once;
}

@keyframes header-nav-link-fadein {
  0% {
    color: #0D0208;
    pointer-events: none;
  }
 
  60% {
    color: #0D0208;
  }

  100% {
    color: #DDD;
    pointer-events: none;
  }
}

#project-section {
  text-align: center;
  padding: 60px 10vw 0 10vw;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project-title {
  transition: 0.3s;
}

#project-grid a:hover h2 {
  color: #F8F005;
  transition: 0.2s;
}

.project-image {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

#contact {
  background-color: rgba(66, 66, 66, 0.5);
  text-align: center;
  padding: 60px 10vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 60px 30vw;
  border-top: 1px solid #FFF;
}

footer a {
  margin-bottom: 3px;
}

footer a:hover {
  color: #FFF;
  transition: 0.2s;
}